@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/Factor-A/FactorALight-Regular.eot');
  src: local('Factor A Light Regular'), local('FactorALight-Regular'),
    url('../../assets/fonts/Factor-A/FactorALight-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Factor-A/FactorALight-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Factor-A/FactorALight-Regular.woff') format('woff'),
    url('../../assets/fonts/Factor-A/FactorALight-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/Factor-A/FactorA-Regular.eot');
  src: local('Factor A Regular'), local('FactorA-Regular'),
    url('../../assets/fonts/Factor-A/FactorA-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Factor-A/FactorA-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Factor-A/FactorA-Regular.woff') format('woff'),
    url('../../assets/fonts/Factor-A/FactorA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/Factor-A/FactorAMedium-Regular.eot');
  src: local('Factor A Medium Regular'), local('FactorAMedium-Regular'),
    url('../../assets/fonts/Factor-A/FactorAMedium-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Factor-A/FactorAMedium-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Factor-A/FactorAMedium-Regular.woff') format('woff'),
    url('../../assets/fonts/Factor-A/FactorAMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/Factor-A/FactorA-Bold.eot');
  src: local('Factor A Bold'), local('FactorA-Bold'),
    url('../../assets/fonts/Factor-A/FactorA-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Factor-A/FactorA-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Factor-A/FactorA-Bold.woff') format('woff'),
    url('../../assets/fonts/Factor-A/FactorA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
