/**
 * Define global styles for the application,
 * usually html and body content.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body-bg-color_desktop;

  font-family: 'Factor A', sans-serif;
  @media (max-width: 768px) {
    background: $body-bg-color_mobile;
  }
}

input,
button,
textarea {
  border: none;
  background: none;
  &:active,
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.container {
  width: 90%;
  max-width: 1092px;
  margin: 0 auto;
}
