@font-face{font-family:'swiper-icons';src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}
.popup-content{margin:auto;background:#fff;width:50%;padding:5px;border:1px solid #d7d7d7}
:root{
  --toastify-color-light:#fff;
  --toastify-color-dark:#121212;
  --toastify-color-info:#3498db;
  --toastify-color-success:#07bc0c;
  --toastify-color-warning:#f1c40f;
  --toastify-color-error:#e74c3c;
  --toastify-color-transparent:rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info:var(--toastify-color-info);
  --toastify-icon-color-success:var(--toastify-color-success);
  --toastify-icon-color-warning:var(--toastify-color-warning);
  --toastify-icon-color-error:var(--toastify-color-error);
  --toastify-toast-width:320px;
  --toastify-toast-background:#fff;
  --toastify-toast-min-height:64px;
  --toastify-toast-max-height:800px;
  --toastify-font-family:sans-serif;
  --toastify-z-index:9999;
  --toastify-text-color-light:#757575;
  --toastify-text-color-dark:#fff;
  --toastify-text-color-info:#fff;
  --toastify-text-color-success:#fff;
  --toastify-text-color-warning:#fff;
  --toastify-text-color-error:#fff;
  --toastify-spinner-color:#616161;
  --toastify-spinner-color-empty-area:#e0e0e0;
  --toastify-color-progress-light:linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark:#bb86fc;
  --toastify-color-progress-info:var(--toastify-color-info);
  --toastify-color-progress-success:var(--toastify-color-success);
  --toastify-color-progress-warning:var(--toastify-color-warning);
  --toastify-color-progress-error:var(--toastify-color-error);
}

@keyframes Toastify__trackProgress{
  0%{
    -webkit-transform:scaleX(1);
            transform:scaleX(1);
  }
  100%{
    -webkit-transform:scaleX(0);
            transform:scaleX(0);
  }
}

@-webkit-keyframes Toastify__bounceInRight{
  from, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from{
    opacity:0;
    -webkit-transform:translate3d(3000px, 0, 0);
            transform:translate3d(3000px, 0, 0);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@keyframes Toastify__bounceInRight{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from{
    opacity:0;
    -webkit-transform:translate3d(3000px, 0, 0);
            transform:translate3d(3000px, 0, 0);
  }
  60%{
    opacity:1;
    -webkit-transform:translate3d(-25px, 0, 0);
            transform:translate3d(-25px, 0, 0);
  }
  75%{
    -webkit-transform:translate3d(10px, 0, 0);
            transform:translate3d(10px, 0, 0);
  }
  90%{
    -webkit-transform:translate3d(-5px, 0, 0);
            transform:translate3d(-5px, 0, 0);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@-webkit-keyframes Toastify__bounceOutRight{
  to{
    opacity:0;
    -webkit-transform:translate3d(2000px, 0, 0);
            transform:translate3d(2000px, 0, 0);
  }
}

@keyframes Toastify__bounceOutRight{
  20%{
    opacity:1;
    -webkit-transform:translate3d(-20px, 0, 0);
            transform:translate3d(-20px, 0, 0);
  }
  to{
    opacity:0;
    -webkit-transform:translate3d(2000px, 0, 0);
            transform:translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes Toastify__bounceInLeft{
  from, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@keyframes Toastify__bounceInLeft{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity:0;
    -webkit-transform:translate3d(-3000px, 0, 0);
            transform:translate3d(-3000px, 0, 0);
  }
  60%{
    opacity:1;
    -webkit-transform:translate3d(25px, 0, 0);
            transform:translate3d(25px, 0, 0);
  }
  75%{
    -webkit-transform:translate3d(-10px, 0, 0);
            transform:translate3d(-10px, 0, 0);
  }
  90%{
    -webkit-transform:translate3d(5px, 0, 0);
            transform:translate3d(5px, 0, 0);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@-webkit-keyframes Toastify__bounceOutLeft{
  to{
    opacity:0;
    -webkit-transform:translate3d(-2000px, 0, 0);
            transform:translate3d(-2000px, 0, 0);
  }
}

@keyframes Toastify__bounceOutLeft{
  20%{
    opacity:1;
    -webkit-transform:translate3d(20px, 0, 0);
            transform:translate3d(20px, 0, 0);
  }
  to{
    opacity:0;
    -webkit-transform:translate3d(-2000px, 0, 0);
            transform:translate3d(-2000px, 0, 0);
  }
}

@-webkit-keyframes Toastify__bounceInUp{
  from, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from{
    opacity:0;
    -webkit-transform:translate3d(0, 3000px, 0);
            transform:translate3d(0, 3000px, 0);
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@keyframes Toastify__bounceInUp{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from{
    opacity:0;
    -webkit-transform:translate3d(0, 3000px, 0);
            transform:translate3d(0, 3000px, 0);
  }
  60%{
    opacity:1;
    -webkit-transform:translate3d(0, -20px, 0);
            transform:translate3d(0, -20px, 0);
  }
  75%{
    -webkit-transform:translate3d(0, 10px, 0);
            transform:translate3d(0, 10px, 0);
  }
  90%{
    -webkit-transform:translate3d(0, -5px, 0);
            transform:translate3d(0, -5px, 0);
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Toastify__bounceOutUp{
  to{
    opacity:0;
    -webkit-transform:translate3d(0, -2000px, 0);
            transform:translate3d(0, -2000px, 0);
  }
}

@keyframes Toastify__bounceOutUp{
  20%{
    -webkit-transform:translate3d(0, -10px, 0);
            transform:translate3d(0, -10px, 0);
  }
  40%, 45%{
    opacity:1;
    -webkit-transform:translate3d(0, 20px, 0);
            transform:translate3d(0, 20px, 0);
  }
  to{
    opacity:0;
    -webkit-transform:translate3d(0, -2000px, 0);
            transform:translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes Toastify__bounceInDown{
  from, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@keyframes Toastify__bounceInDown{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity:0;
    -webkit-transform:translate3d(0, -3000px, 0);
            transform:translate3d(0, -3000px, 0);
  }
  60%{
    opacity:1;
    -webkit-transform:translate3d(0, 25px, 0);
            transform:translate3d(0, 25px, 0);
  }
  75%{
    -webkit-transform:translate3d(0, -10px, 0);
            transform:translate3d(0, -10px, 0);
  }
  90%{
    -webkit-transform:translate3d(0, 5px, 0);
            transform:translate3d(0, 5px, 0);
  }
  to{
    -webkit-transform:none;
            transform:none;
  }
}

@-webkit-keyframes Toastify__bounceOutDown{
  to{
    opacity:0;
    -webkit-transform:translate3d(0, 2000px, 0);
            transform:translate3d(0, 2000px, 0);
  }
}

@keyframes Toastify__bounceOutDown{
  20%{
    -webkit-transform:translate3d(0, 10px, 0);
            transform:translate3d(0, 10px, 0);
  }
  40%, 45%{
    opacity:1;
    -webkit-transform:translate3d(0, -20px, 0);
            transform:translate3d(0, -20px, 0);
  }
  to{
    opacity:0;
    -webkit-transform:translate3d(0, 2000px, 0);
            transform:translate3d(0, 2000px, 0);
  }
}

@-webkit-keyframes Toastify__zoomIn{
  from{
    opacity:0;
    -webkit-transform:scale3d(0.3, 0.3, 0.3);
            transform:scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes Toastify__zoomIn{
  from{
    opacity:0;
    -webkit-transform:scale3d(0.3, 0.3, 0.3);
            transform:scale3d(0.3, 0.3, 0.3);
  }
  50%{
    opacity:1;
  }
}

@-webkit-keyframes Toastify__zoomOut{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}

@keyframes Toastify__zoomOut{
  from{
    opacity:1;
  }
  50%{
    opacity:0;
    -webkit-transform:scale3d(0.3, 0.3, 0.3);
            transform:scale3d(0.3, 0.3, 0.3);
  }
  to{
    opacity:0;
  }
}

@-webkit-keyframes Toastify__flipIn{
  from{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function:ease-in;
            animation-timing-function:ease-in;
    opacity:0;
  }
  to{
    -webkit-transform:perspective(400px);
            transform:perspective(400px);
  }
}

@keyframes Toastify__flipIn{
  from{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function:ease-in;
            animation-timing-function:ease-in;
    opacity:0;
  }
  40%{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function:ease-in;
            animation-timing-function:ease-in;
  }
  60%{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity:1;
  }
  80%{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to{
    -webkit-transform:perspective(400px);
            transform:perspective(400px);
  }
}

@-webkit-keyframes Toastify__flipOut{
  from{
    -webkit-transform:perspective(400px);
            transform:perspective(400px);
  }
  to{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity:0;
  }
}

@keyframes Toastify__flipOut{
  from{
    -webkit-transform:perspective(400px);
            transform:perspective(400px);
  }
  30%{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity:1;
  }
  to{
    -webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity:0;
  }
}

@-webkit-keyframes Toastify__slideInRight{
  from{
    -webkit-transform:translate3d(110%, 0, 0);
            transform:translate3d(110%, 0, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@keyframes Toastify__slideInRight{
  from{
    -webkit-transform:translate3d(110%, 0, 0);
            transform:translate3d(110%, 0, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideInLeft{
  from{
    -webkit-transform:translate3d(-110%, 0, 0);
            transform:translate3d(-110%, 0, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@keyframes Toastify__slideInLeft{
  from{
    -webkit-transform:translate3d(-110%, 0, 0);
            transform:translate3d(-110%, 0, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideInUp{
  from{
    -webkit-transform:translate3d(0, 110%, 0);
            transform:translate3d(0, 110%, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@keyframes Toastify__slideInUp{
  from{
    -webkit-transform:translate3d(0, 110%, 0);
            transform:translate3d(0, 110%, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideInDown{
  from{
    -webkit-transform:translate3d(0, -110%, 0);
            transform:translate3d(0, -110%, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@keyframes Toastify__slideInDown{
  from{
    -webkit-transform:translate3d(0, -110%, 0);
            transform:translate3d(0, -110%, 0);
    visibility:visible;
  }
  to{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideOutRight{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(110%, 0, 0);
            transform:translate3d(110%, 0, 0);
  }
}

@keyframes Toastify__slideOutRight{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(110%, 0, 0);
            transform:translate3d(110%, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideOutLeft{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(-110%, 0, 0);
            transform:translate3d(-110%, 0, 0);
  }
}

@keyframes Toastify__slideOutLeft{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(-110%, 0, 0);
            transform:translate3d(-110%, 0, 0);
  }
}

@-webkit-keyframes Toastify__slideOutDown{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(0, 500px, 0);
            transform:translate3d(0, 500px, 0);
  }
}

@keyframes Toastify__slideOutDown{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(0, 500px, 0);
            transform:translate3d(0, 500px, 0);
  }
}

@-webkit-keyframes Toastify__slideOutUp{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(0, -500px, 0);
            transform:translate3d(0, -500px, 0);
  }
}

@keyframes Toastify__slideOutUp{
  from{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }
  to{
    visibility:hidden;
    -webkit-transform:translate3d(0, -500px, 0);
            transform:translate3d(0, -500px, 0);
  }
}

@-webkit-keyframes Toastify__spin{
  from{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  to{
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}

@keyframes Toastify__spin{
  from{
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  to{
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}
