<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .block {
        border: 1px solid rgb(13, 13, 13);
        background-color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 10px;

    }
</style>

<body>
    <h1>
        Hi {{username}}
    </h1>
    <h2>Use this code ro verify your email</h2>
    <div class="block">
        {{code}}
    </div>
</body>

</html>