.post-list {
  max-width: 636px;
  border-radius: 0 0 16px 16px;
  overflow: hidden;

  @media (max-width: map-get($map: $media, $key: l)) {
    max-width: unset;
  }
}

.post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  padding: 24px;
  background: $white;

  @media (max-width: map-get($map: $media, $key: s)) {
    padding: 24px 16px;
  }
  &__access__select {
    margin-left: 15px;
    border-radius: 15px;
    height: 2.5em;
    width: 7em;
    text-align: center;
  }
  &__access__select__option {
    border-radius: 15px;
    height: 2em;
    width: 9em;
    text-align: center;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 12px 0 0;
    width: 70px;
    height: 70px;

    @media (max-width: map-get($map: $media, $key: s)) {
      width: 50px;
      height: 50px;
      margin: 0 8px 0 0;
    }
  }

  &__brand {
    font-size: map-get($map: $font-size, $key: l);
    color: $black;

    @media (max-width: map-get($map: $media, $key: s)) {
      font-size: map-get($map: $font-size, $key: s);
    }
  }

  &__brand-profile {
    display: inline-block;
    font-size: map-get($map: $font-size, $key: m);
    color: $lightblack;
    margin: 4px 0 0;

    @media (max-width: map-get($map: $media, $key: s)) {
      font-size: map-get($map: $font-size, $key: s);
    }
  }

  &__time {
    margin: 0 18px 0 0;
    color: $grey;
    font-size: map-get($map: $font-size, $key: s);

    @media (max-width: map-get($map: $media, $key: s)) {
      font-size: 12px;
    }
  }

  &__menu-dots {
    cursor: pointer;
  }

  &__caption {
    font-size: map-get($map: $font-size, $key: s);
    line-height: 150%;
    margin: 24px 0 16px;
    color: $black;

    @media (max-width: map-get($map: $media, $key: s)) {
      margin: 16px 0 8px;
    }
  }

  &__read-more-btn {
    display: block;
    color: $orange;
    font-size: map-get($map: $font-size, $key: s);
    line-height: 150%;
    margin: 0 0 16px;

    &_hidden {
      display: none;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    margin: 16px 0 0;

    @media (max-width: map-get($map: $media, $key: s)) {
      margin: 8px 0 0;
    }
  }

  &__bottom {
    margin: 16px 0 0;

    @media (max-width: map-get($map: $media, $key: s)) {
      margin: 8px 0 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;
    }
  }

  &__action-btn {
    &:nth-of-type(2) {
      margin: 0 8px;
    }
  }

  &__action-icon {
    width: 34px;
    height: 34px;
    cursor: pointer;

    path {
      stroke-width: 2.2px;

      @media (max-width: map-get($map: $media, $key: s)) {
        stroke-width: 1.6px;
      }
    }

    @media (max-width: map-get($map: $media, $key: s)) {
      width: 24px;
      height: 24px;
    }
  }

  &__donate-btn {
    font-weight: 700;
    background: #fb5734;
    border-radius: 8px;
    padding: 11px 7px 7px 7px;
    font-family: Factor A;
    font-size: 15px;
    transition: 0.5s;
    font-style: normal;
    font-weight: 550;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    font-size: map-get($map: $font-size, $key: m);
    color: $white;
    cursor: pointer;

    @media (max-width: map-get($map: $media, $key: s)) {
      font-size: map-get($map: $font-size, $key: s);
    }
  }

  &__like-amount {
    font-size: map-get($map: $font-size, $key: s);
    margin: 16px 0 0;
    color: $black;

    @media (max-width: map-get($map: $media, $key: s)) {
      margin: 12px 0 0;
    }
  }

  &__sendComment {
    height: 40px;
    background: #fb5734;
    border-radius: 8px;
    padding: 7px;
    font-family: Factor A;
    font-size: 15px;
    transition: 0.5s;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
  }

  &__sendComment :disabled {
    height: 40px;
    background: #fcdfd9;
    border-radius: 8px;
    padding: 7px;
    font-family: Factor A;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
    transition: 0.5s;
  }

  &__sendComment[disabled] {
    height: 40px;
    background: #f3bcb0;
    transition: 0.5s;
    border-radius: 8px;
    padding: 7px;
    font-family: Factor A;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
  }

  &__comment-amount {
    font-size: map-get($map: $font-size, $key: s);
    margin-right: 10px;
    width: 100%;
    padding-top: 8px;
    padding-right: 8px;
    color: $grey;
    resize: none;
  }

  &__comment-amount::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &__comment-amount::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &__comment-amount::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555555;
  }
}