.aside {
  position: fixed;
  right: 100px;
  top: 122px;
  width: 100%;
  max-width: 376px;
  // background: #f8f1f0;
  z-index: 5;

  &__title {
    font-size: map-get($map: $font-size, $key: m);
    color: $text-color;
    margin: 0 0 24px;
  }

  @media (max-width: map-get($map: $media, $key: l)) {
    position: static;
    max-width: unset;
    width: 100% !important;
    padding: 16px;
  }
}

.swiper-container {
  padding: 0 0 20px !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(0, 0, 0, 0.2) !important;
  opacity: unset !important;
  transition: all map-get($map: $time, $key: normal);
  &-active {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  @media (max-width: map-get($map: $media, $key: s)) {
    width: 5px !important;
    height: 5px !important;
  }
}
