.chat {
  display: flex;
  flex-direction: column;

  &__audio {
    &.open {
      z-index: 14;
      position: absolute;
      bottom: 3.5em;
      left: -10%;
      margin-left: 4px;
      padding: 8px;
      background-color: #fbdfcf;
      border-radius: 15px;
      width: 140%;
      visibility: visible !important;
    }
  }

  &__attach_icon {
    order: 1;
    background-color: #fbdfcf;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    width: 25px;
    padding-right: 3px;
    margin-right: -2px;
    padding-right: 30px;
  }

  &__audio_voice {
    @media screen and (max-width : 500px) {
      margin-bottom: -1.2em;
    }
  }

  &__chat_actions {
    visibility: hidden;
    margin: 0px 24px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;

    &.chat__actions_open {
      display: flex;
      z-index: 13;
      position: fixed;
      bottom: 14.7%;
      border-radius: 15px;
      background-color: white;
      height: 44px;
      padding-top: 7px;
      padding-right: 10px;
      padding-left: 10px;
      visibility: visible !important;
      transition: 1s;
    }

    @media screen and (max-width : 500px) {
      margin: -60px 14px 8px;
    }
  }

  &__backNone {
    display: none;
  }

  &__header {
    background-color: $white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 88px;
    display: flex;
    align-items: center;
    padding: 0px 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-between;
  }

  &__header_title {
    font-family: Factor A;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 24px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__main {
    background-color: $white;
    display: flex;
  }

  &__sidebar {
    background-color: $white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 37.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 73vh;

    &::-webkit-scrollbar-track {
      background-color: rgba(248, 226, 194, 0.534);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(255, 145, 0, 0.575);
      border-radius: 15px;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
  }

  &__sidebarItem {
    display: flex;
    padding: 15.5px 24px;
    margin-right: 14px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }

    h2 {
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-left: 8px;
    }

    p {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 8px;
    }
  }

  &__p {
    font-family: Factor A;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
  }

  &__dialogsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 92px;
    width: 100%;
  }

  &__dialogsMain {
    display: flex;
    flex-direction: column;
    width: 62.5%;
  }

  &__dialog {
    height: 50vh;
  }

  &__input {
    width: 55%;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: -0.2em;
    margin-top: 0.2em;
    position: absolute;
    z-index: 2;
    margin-inline-start: 0.3em;
  }

  &__text {
    @media screen and (min-width : 450px) {
      &+button.send {
        order: 2;
        width: 50px;
        height: 47px;
        background-color: #fbdfcf;
        border-radius: 45px;
        margin-left: 1%;
        margin-top: 0.2em;
      }

      padding: 17px 8px 17px 15px;
      display: flex;
      width: 85%;
      max-width: 590px;
      background: #fbdfcf;
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px;

      button {
        width: 50px;
        height: 50px;
      }

      textarea {
        width: 98%;

        &::-webkit-scrollbar {
          width: 0px;
        }

        line-height: 12px;
        resize: none;
      }
    }
  }

}


.message-wrap {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  min-height: 115%;
  max-height: 115%;
  border: 1px solid #cccccc;
  padding: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background-color: rgba(248, 226, 194, 0.534);
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 145, 0, 0.575);
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
}

.text-wrapp {
  display: flex;
  background-color: #f8f1f0;
  flex-wrap: wrap;
  border-radius: 4px 4px 0px 4px;
  font-family: Factor A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  left: 0;
  padding: 5px;
}

.time-text {
  font-family: Factor A;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
  margin-top: 7px;
}

@media screen and (max-width: 450px) {
  .chat {
    &__chat_actions {
      margin: -60px 14px 8px;
      // display: none;
      visibility: hidden;

      &.chat__actions_open {
        display: flex;
        z-index: 13;
        position: fixed;
        bottom: 8px;
        border-radius: 15px;
        background-color: white;
        height: 38px;
        padding-top: 2px;
        padding-right: 10px;
        padding-left: 10px;
        visibility: visible !important;
        transition: 1s;
      }
    }

    &__audio {
      &.open {
        z-index: 14;
        position: fixed;
        bottom: 8%;
        margin-left: -10px;
        background-color: #fbdfcf;
        border-radius: 15px;
        width: 81%;
        visibility: visible !important;
        left: 6%;
      }
    }

    &__input_back {
      min-height: 64px;
      border-top: #fbdfcf solid 1px;
      background: white;
      z-index: 12;
      width: 100%;
      bottom: 0px;
      position: fixed;
      z-index: 13;
    }

    display: flex;
    flex-direction: column;

    &__resp_icon {
      width: 30px;
      height: 30px;
    }

    &__backNone {
      display: block;
    }

    &__header {
      display: none;
    }

    &__header_title {
      font-family: Factor A;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: center;
      margin-left: 24px;
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__main {
      background-color: $white;
      display: flex;
      margin-bottom: -7%;
    }

    &__sidebar {
      background-color: $white;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;

      &::-webkit-scrollbar-track {
        background-color: rgba(248, 226, 194, 0.534);
      }

      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(255, 145, 0, 0.575);
        border-radius: 15px;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }
    }

    &__sidebarItem {
      display: flex;
      padding: 15.5px 24px;
      margin-right: 14px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;

        &.logo_site {
          width: 40px;
          height: 40px;
          margin-top: -5px;
        }
      }
    }

    h2 {
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-left: 8px;
    }

    p {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 8px;
    }


    &__p {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      font-size: 12px;
      line-height: 13px;
      right: 20px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 50px;
    }

    &__dialogsHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 64px;
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      position: fixed;
      background-color: white;
      padding-top: 5px;
      margin-top: -10px;
      z-index: 11;

      &.inChat {
        height: 47px;
      }
    }

    &__more_icon {
      flex-shrink: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 6px;
    }

    &__inactive {
      display: none !important;
    }

    &__flex_0 {
      flex: 0 !important;
    }

    &__dialogsMain {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
    }

    &__attach_icon {
      order: 1;
      min-height: 46px;
      width: 25px;
      margin-left: -1px;
      padding-right: 28px;
    }

    &__dialog {
      height: 43%;
      margin-top: 7%;
    }

    &__input {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 44px;
      bottom: 11px;
      position: fixed;
      z-index: 11;

      button.send {
        order: 2;
        width: 44px;
        height: 44px;
        margin-top: 0.2%;
        background-color: #fbdfcf;
        border-radius: 45px;
        margin-left: 1%;
      }
    }

    &__text {
      padding: 10px 8px 8px 15px;
      display: flex;
      width: 77%;
      background: #fbdfcf;
      justify-content: center;
      margin-left: 2px;
      margin-bottom: 4px;
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px;
      min-height: 44px;

      textarea {
        width: 98%;
        resize: none;
        line-height: 12px;

        &::-webkit-scrollbar {
          width: 0px;
        }
      }
    }

  }

  .message-wrap {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    min-height: 88%;
    max-height: 100%;
    border: 1px solid #cccccc;
    padding: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      background-color: rgba(248, 226, 194, 0.534);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(255, 145, 0, 0.575);
      border-radius: 15px;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
  }

  .text-wrapp {
    display: flex;
    background-color: #f8f1f0;
    flex-wrap: wrap;
    border-radius: 4px 4px 0px 4px;
    font-family: Factor A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    left: 0;
    padding: 5px;
  }

  .time-text {
    font-family: Factor A;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    margin-top: 7px;
  }
}

.message {
  $border-radius-messages: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  &__meta {
    display: flex;
    align-items: center;
    position: relative;
    bottom: auto !important;
    float: right;
    line-height: 1.35;
    height: calc(21px + 1rem);
    margin-left: 0.4375rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;

    &>.message__time {
      font-size: .75rem;
      white-space: nowrap;
      margin-right: 0.1875rem;
    }
  }

  &.own {
    align-items: flex-start;

    .chat__audio_voice {
      margin-bottom: -0.2em;
    }
  }

  &__content {
    border-top-left-radius: $border-radius-messages;
    border-top-right-radius: $border-radius-messages;
    border-bottom-left-radius: $border-radius-messages;
    border-bottom-right-radius: $border-radius-messages;

    @media screen and (max-width: 600px) {
      max-width: min(30rem, 100vw - 3.75rem);
    }

    &.has-solid-background {
      padding: 0.3125rem 1rem 0.25rem 0.6rem;
      background: rgb(249 208 183 / 67%);
      margin-bottom: 7px;
    }

    &.no-background {
      padding: 0.3125rem 1rem 0.25rem 0.6rem;
      margin-bottom: 7px;
    }
  }

  &__text_content {
    margin: 0;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.3125;
    text-align: initial;
    display: flow-root;
    unicode-bidi: plaintext;
  }
}