.main {
  padding-top: 30px;
  padding-bottom: 122px;
  width: 90%;
  max-width: 1092px;
  margin: 0 auto;
  @media (max-width: map-get($map: $media, $key: s)) {
    width: 100%;
    padding: 10px 0 85px;
  }
}

p {
  margin: 0px;
}
