.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  box-shadow: 0px 100px 80px rgba(250, 178, 139, 0.07), 0px 41.7776px 33.4221px rgba(250, 178, 139, 0.0503198),
    0px 22.3363px 17.869px rgba(250, 178, 139, 0.0417275), 0px 12.5216px 10.0172px rgba(250, 178, 139, 0.035),
    0px 6.6501px 5.32008px rgba(250, 178, 139, 0.0282725), 0px 2.76726px 2.21381px rgba(250, 178, 139, 0.0196802);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  
  z-index: 5;
  
    @media screen and (min-width > 500px) {
      border-color: #a3a2a2;
      border-width: 1px;
      border-style: solid;
    }

  @media (max-width: map-get($map: $media, $key: s)) {
    top: unset;
    bottom: 0;
    height: 60px;
    background: #f8f1f0;
    border-radius: 24px 24px 0px 0px;
    box-shadow: unset;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1092px;
    margin: 0 auto;
  }

  &__icon {
    svg {
      width: 40px;
      height: 40px;
    }

    path {
      stroke: #808080;
      stroke-width: 4px;
      stroke-opacity: 100%;
    }

    @media (max-width: map-get($map: $media, $key: s)) {
      svg {
        width: 24px;
        height: 24px;
      }

      path {
        stroke: $black;
        stroke-width: 2px;
        stroke-opacity: 80%;
      }
    }

    &_active {
      path {
        stroke: $orange;
      }
    }

    &_notifications_active {
      svg {
        width: 25px;
        height: 25px;
        background: $orange;
        border-radius: 100%;
      }

      circle {
        stroke: $white;
        stroke-opacity: 100%;
      }

      path {
        stroke-opacity: 100%;
        stroke-width: 2px;
        stroke: $white;
      }
    }

    &_notifications_inactive {
      svg {
        width: 20px;
        height: 20px;
        background: #f8f1f0;
        border-radius: 100%;
      }

      circle {
        stroke-opacity: 100%;
        stroke: $black;
      }

      path {
        stroke-opacity: 100%;
        stroke-width: 2px;
        stroke: $black;
      }
    }
  }
}