.notifications {
  display: flex;
  justify-content: space-between;

  &__listItem {
    display: flex;
    justify-content: space-between;
    // margin: 16px 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    img {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      margin: 24px 32px;
    }
  }

  &__listText {
    h1 {
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      margin-top: 16px;
      margin-left: 24px;
    }
    h2 {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      margin-left: 24px;
      line-height: 20px;
    }
  }

  &__navMobile {
    display: none;
  }

  &__wallet {
    background: #f8f1f0;
    border-radius: 8px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 16px 20px;
    h5 {
      margin: 0px;
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__walletMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 12px 12px;
    }
  }

  &__walletChild {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    h3 {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      margin: 0px;
      margin-top: 20px;
    }
    h4 {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      margin: 0px;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  &__walletUnder {
    display: flex;
    width: 96%;
    margin-top: 40px;
    justify-content: space-between;
    h5 {
      margin: 0px;
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
    h6 {
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      color: $orange;
    }
  }

  &__tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    ul {
      display: flex;
      list-style-type: none;
      margin: 0px;
      justify-content: space-around;
      margin-top: 8px;
      font-family: Factor A;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      li {
        a:hover {
          color: $orange;
          transition: 1s;
        }
      }
    }
  }
  &__tab_active {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  }

  &__sidebarItemPhone {
    display: none;
  }

  &__headingText {
    //styleName: заголовки;
    font-family: Factor A;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__header,
  &__headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-top-left-radius: 16px;
    padding: 23px 32px;
    margin-bottom: 12px;
    min-width: 350px;
  }

  &__settings {
    margin-left: 24px;
  }

  &__back {
    margin-right: 10px;
  }

  &__free {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  &__priceText {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  &__free h2 {
    font-family: Factor A;
    margin-top: 9px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__toggle-button {
    position: relative;
    display: inline-block;
    width: 61px;
    height: 31px;
    margin: 0;
    vertical-align: top;
    background: rgba(109, 109, 116, 0.16);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    appearance: none;
    transition: 1s;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      width: 27px;
      height: 27px;
      background-color: #ffffff;
      border-radius: 50%;

      transform: translateX(0);
    }

    &:checked:after {
      transform: translateX(calc(100% + 3px));
      background-color: $white;
    }

    &:checked {
      background: linear-gradient(125.88deg, #ff6644 -2.1%, #ff485c 100.96%, #ff1a6c 127.3%);
    }
  }

  &__sidebarMobile {
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: 350px;
    min-height: 80vh;
    border-bottom-left-radius: 16px;
  }

  &__displayMobile {
    display: none;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: 350px;
    min-height: 80vh;
    border-bottom-left-radius: 16px;
  }

  @media screen and (max-width: 768px) {
    .notifications__header {
      display: none;
    }

    .notifications__headerMobile {
      min-width: 150px;
    }

    .notifications__mainWrapper {
      margin-left: 0px;
    }

    .notifications__mainItem {
      padding: 10px;
    }

    .notifications__none {
      display: none;
    }

    .notifications__displayMobile {
      display: block;
    }

    .notifications__sidebarItemPhone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 15px;
      font-family: Factor A;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      margin-top: 29px;
      line-height: 26px;
    }

    .notifications__navMobile {
      background: #f8f1f0;
      border-radius: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 1s;
      overflow: hidden;
      margin-left: 15px;
    }
    .notifications__sidebar {
      display: none;
    }
    .notifications__userPhoto {
      width: 60px;
      height: 60px;
    }
    .notifications__userInfo h2 {
      font-size: 14px;
    }
    .notifications__userInfo h3 {
      font-size: 14px;
    }
    .notifications__userInfo h4 {
      font-size: 14px;
    }
    .notifications__postPhoto {
      width: 70px;
      height: 70px;
    }
  }

  &__listBlock {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
  }

  &__listText {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0px 24px;
  }

  &__longList {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__sidebar a {
    color: $black;
  }

  &__main a {
    color: $black;
  }

  &__main {
    height: 80vh;
    overflow: auto;
  }

  &__settings_h2 {
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__input {
    width: 94%;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding: 13px 16px;
    @media screen and (max-width:450px) {
      width: 90%;
    }
  }

  &__settingBtn {
    width: 94%;
    height: 50px;
    background: #fb5734;
    border-radius: 8px;
    margin: 32px 24px;
    font-family: Factor A;
    font-size: 18px;
    transition: 0.5s;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
    @media screen and (max-width:450px) {
      width: 90%;
    }
  }
  &__settingBtn :disabled {
    width: 94%;
    height: 50px;
    background: #fcdfd9;
    border-radius: 8px;
    margin: 32px 24px;
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
    transition: 0.5s;
    @media screen and (max-width:450px) {
      width: 90%;
    }
  }
  &__settingBtn[disabled] {
    width: 94%;
    height: 50px;
    background: #f3bcb0;
    transition: 0.5s;
    border-radius: 8px;
    margin: 32px 24px;
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $white;
    @media screen and (max-width:450px) {
      width: 90%;
    }
  }

  &__sidebarItem {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__sidebarItem p {
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    color: black;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__mainWrapper {
    width: 100%;
    margin-left: 12px;
  }

  &__mainHeader {
    margin-bottom: 12px;
    background-color: $white;
    border-top-right-radius: 16px;
  }

  &__mainHeader p {
    font-family: Factor A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding: 32px;
  }

  &__main {
    background-color: $white;
    padding-bottom: 26px;
    border-bottom-right-radius: 16px;
    min-height: 80vh;
    overflow-x: hidden;
  }

  &__mainItem {
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__userPhoto {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 2px solid grey;
  }

  &__userInfo {
    display: flex;
  }

  &__sessions {
    padding-top: 16px;
    padding-left: 24px;
  }

  &__sessions h3 {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__sessions p {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000099;
  }

  &__pricesHeader {
    padding: 16px 24px;
  }

  &__pricesHeader p {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__userInfo h2 {
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
  }

  &__userInfo h3 {
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
  }

  &__userInfo h4 {
    font-family: Factor A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
  }

  &__userInfo p {
    font-family: Factor A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
  }

  &__postPhoto {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid $grey;
  }

  &__modal {
    border-radius: 8px;
  }

  &__comment {
    display: flex;
    width: 100%;
    padding: 10px;
    img {
      border-radius: 100%;
      border: 2px solid $grey;
      width: 50px;
      height: 50px;
    }
  }

  &__commentText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__modal h2 {
    font-family: Factor A;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__modal h3 {
    font-family: Factor A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__donationAmount {
    border-radius: 32px;
    background-color: #fb5734;
    color: #fff;
    padding: 5px;
    margin-bottom: 50px;
  }
}
